@import "tailwindcss";

@plugin "daisyui" {
    prefix: "d-";
    themes:
        light --default,
        dracula --prefersdark;
}

@layer components {
    .co-mb-6 {
        @apply mb-6;
    }

    .co-p-6 {
        @apply p-6;
    }

    .icons-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
        min-height: var(--min-height);
    }

    .icon {
        @apply d-tooltip d-tooltip-bottom aspect-square rounded-sm bg-base-200 flex items-center justify-center w-14 h-14;
    }

    .icon button {
        @apply absolute inset-0 flex items-center justify-center cursor-pointer;
    }

    .icon-skeleton {
        @apply w-14 h-14 bg-gray-200 rounded-md animate-pulse;
    }
}

body {
    font-family: var(--font-inclusive-sans);
    color: var(--color-base-content);
    overflow-x: hidden;
}
